# IDEs
.idea/
.vscode/

# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary and output
*.test
*.out
test_output.txt
test_result.log
test_result2.log

# Dependencies
vendor/

# OS
.DS_Store

# Coverage
coverage.out
coverage.html
